-
  var desktop = "1200"
  var tablet = "768"
  var mobile = "320"

mixin picture(scale, format, src, width, height, alt)
  picture
    source(media="(min-width: " + scale + "px)" data-srcset="img/" + src + ".webp 1x, img/" + src + "@2x.webp 2x" type="image/webp")
    img.lazyload(data-src="img/" + src + "." + format data-srcset="img/" + src + "@2x." + format + " 2x" width= width height= height alt= alt)

mixin card(name, url)
  .coaches__img-wrapper.coaches__img-wrapper--desktop
    <!-- 1х: 260px; 2x: 520px -->
    +picture(desktop, "jpg", url + "-desktop", 260, 294, name)
  .coaches__img-wrapper.coaches__img-wrapper--tablet
    <!-- 1х: 268px; 2x: 536px -->
    +picture(tablet, "jpg", url + "-tablet", 268, 294, name)
  .coaches__img-wrapper.coaches__img-wrapper--mobile
    <!-- 1х: 226px; 2x: 452px -->
    +picture(mobile, "jpg", url + "-mobile", 226, 274, name)
  h3.coaches__h3= name
  .coaches__desk
    p.coaches__name= name
    p.coaches__crossfit CrossFit
    ul.coaches__list
      li Certified Level 3 Trainer
      li Победитель чемпионата России по CrossFit
      li Опыт — 6 лет
