-
  var desktop = "1200"
  var tablet = "768"
  var mobile = "320"

mixin picture(scale, src, width, height, alt)
  picture
    source(media="(min-width: " + scale + "px)" srcset="img/" + src + ".webp 1x, img/" + src + "@2x.webp 2x" type="image/webp")
    img(src="img/" + src + ".png" srcset="img/" + src + "@2x.png 2x" width= width height= height alt= alt)
