.advantages {
  background: $grey;

  .container {
    padding-top: 78px;
    padding-bottom: 63px;
  }

  h2 {
    @include h2(49px);
    margin-bottom: 67px;
    padding-left: 2px;

    text-align: center;
  }
}

.advantages__list {
  position: relative;

  padding-left: 5.2%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 22px;
    line-height: 115%;
    color: $dark-blue;
  }

  p {
    margin-top: 10px;

    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
  }
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  width: 32.65%;
  min-height: 156px;
  margin-right: 34.6%;
  padding-bottom: 20px;
  padding-left: 26px;

  &--350 {
    img {
      margin-left: -7px;
    }
  }

  &:nth-child(2n + 1) {
    margin-right: 0;
    padding-left: 0;
    padding-right: 7px;
  }

  &:nth-child(n + 4) {
    padding-top: 78px;
    border-top: 2px solid rgba(209, 10, 66, 0.2);
  }
}

.advantages__item--center {
  position: absolute;
  left: 50%;
  transform: translate(-49.5%);

  flex-direction: column;
  width: 20.7%;
  margin-top: 3px;
  padding-top: 25px;
  padding-bottom: 42px;

  text-align: center;

  background: #1c3374;
  color: white;

  h3 {
    padding-left: 6px;
    margin-bottom: 27px;

    font-size: 26px;
    color: white;
  }

  p {
    padding-left: 11.4%;
    padding-right: 9%;
    font-size: 16px;
    line-height: 150%;
  }

  .advantages__number {
    margin-bottom: -11px;
    padding-right: 0;
    padding-left: 0;

    font-weight: bold;
    font-size: 74px;
    line-height: 150%;
  }
}

.advantages__images {
  margin-right: 9.4%;

  img {
    display: none;

    &:nth-child(1) {
      display: block;
    }
  }
}

@media ($tablet) {
  .advantages {
    .container {
      padding-bottom: 62px;
      padding-top: 64px;
    }

    h2 {
      @include h2(42px);

      margin-bottom: 47px;
    }
  }

  .advantages__images {
    padding-top: 3px;
    margin-right: 8.9%;

    img {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }

  .advantages__list {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .advantages__item {
    width: 47.75%;
    margin-right: 0;
    justify-content: start;
    min-height: auto;
    padding-left: 0;
    padding-bottom: 0;

    h3 {
      margin-bottom: 5px;
      font-size: 20px;
    }

    p {
      margin-top: 5px;
    }

    &:nth-child(1) {
      margin-right: 17.4%;
      margin-left: 17.4%;
    }

    &:nth-child(2) {
      order: -1;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(n + 4) {
      padding-top: 0;
      border: none;
    }
  }

  .advantages__item--center {
    position: static;
    transform: none;

    margin-bottom: 46px;
    margin-top: 28px;
    padding-bottom: 22px;
    padding-top: 9px;
    width: 100%;

    h3 {
      margin-bottom: 13px;

      font-size: 22px;
    }

    p {
      padding-left: 29.4%;
      padding-right: 27.8%;
    }

    .advantages__number {
      margin-bottom: -15px;
    }
  }

  .advantages__text--900 {
    margin-right: auto;

    p {
      padding-right: 10%;
    }
  }

  .advantages__item--350 {
    img {
      margin-left: 0;
    }
  }
}

@media ($mobile) {
  .advantages {
    .container {
      padding: 43px 0 10px;
    }

    h2 {
      @include h2(32px);
    }
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    margin-bottom: 22px;
    flex-direction: column;
    width: 100%;

    text-align: center;

    p {
      padding: 0 14%;
    }

    &:nth-child(1) {
      margin: 6px 0 44px;
    }

    &:nth-child(2n + 1) {
      padding-right: 0;
    }
  }

  .advantages__item--center {
    padding-top: 14px;
    padding-bottom: 27px;

    p {
      padding: 0 22%;
    }

    h3 {
      margin-bottom: 8px;
    }

    .advantages__number {
      margin-bottom: -20px;
    }
  }

  .advantages__images {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-right: 0;

    img {
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        display: block;
      }
    }
  }

  .advantages__text--900 {
    margin-right: 0;

    p {
      padding-right: 22%;
      padding-left: 22%;
    }
  }

  .advantages__item--350 {
    p {
      padding: 0 15%;
    }
  }
}
