.gym {
  .container {
    display: flex;
    padding-top: 120px;
    padding-bottom: 114px;
  }
}

.gym__text-wrapper {
  width: 35.5%;
  margin-right: 2.2%;
  padding-left: 5.1%;

  color: $dark-blue;

  h2 {
    margin-top: 47px;
    margin-bottom: 8px;

    font-family: "BebasNeue", Arial, sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }

  b {
    display: block;
    margin-bottom: 39px;

    font-size: 18px;
    line-height: 150%;
    font-weight: normal;
  }

  p {
    margin-top: 8px;
    margin-bottom: 0;

    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
  }
}

.gym__img-wrapper {
  width: 723px;
}

.gym__gym-wrapper {
  margin-bottom: -119px;
  padding-left: 64px;

  img {
    width: 660px;
    height: 401px;
  }
}

.gym__img {
  display: none;

  &--desktop {
    display: block;

    img {
      width: 660px;
      height: 401px;
    }
  }
}

.gym__video {
  position: relative;
  width: 364px;

  img {
    padding-left: 1px;
  }
}

.gym__video-img {
  display: none;

  &--desktop {
    display: block;

    img {
      width: 365px;
      height: 228px;
    }
  }
}

.gym__play {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 63px;

  border: 0;
  background-color: transparent;
  cursor: pointer;

  img {
    width: 100px;
    height: 100px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

@media ($tablet) {
  .gym {
    .container {
      padding-bottom: 94px;
      padding-top: 52px;
      flex-direction: column;
    }
  }

  .gym__text-wrapper {
    margin-right: 0;
    margin-bottom: 43px;
    padding: 0 10%;
    width: auto;
    text-align: center;

    h2 {
      margin-bottom: 9px;

      font-size: 42px;
      line-height: 42px;
    }

    b {
      margin-bottom: 34px;
    }
  }

  .gym__equipment {
    display: none;
  }

  .gym__gym-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: -90px;
  }

  .gym__img {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;

      img {
        width: 678px;
        height: 345px;
      }
    }
  }

  .gym__img-wrapper {
    width: auto;
  }

  .gym__video {
    width: auto;
    display: flex;
    justify-content: center;

    img {
      padding-left: 0;
    }
  }

  .gym__video-img {
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;

      img {
        width: 266px;
        height: 167px;
      }
    }
  }

  .gym__play {
    transform: translate(-51%);
    top: 46px;

    img {
      width: 73px;
      height: 73px;
    }
  }
}

@media ($mobile) {
  .gym {
    .container {
      padding-top: 22px;
      padding-bottom: 64px;
    }
  }

  .gym__text-wrapper {
    margin-bottom: 33px;
    text-align: left;
    padding: 0;

    p {
      padding-right: 30px;
    }

    h2 {
      margin-bottom: 6px;

      font-size: 32px;
      line-height: 32px;
    }

    b {
      margin-bottom: 24px;
    }
  }

  .gym__gym-wrapper {
    margin-bottom: 34px;
  }

  .gym__img {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;

      img {
        width: 320px;
        height: 313px;
      }
    }
  }

  .gym__video-img {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;

      img {
        width: 320px;
        height: 167px;
      }
    }
  }

  .gym__play {
    img {
      width: 73px;
      height: 73px;
    }
  }
}
