.main {
  background-image: url("../img/main-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #b60129;

  color: white;

  a {
    color: white;
  }

  .container {
    display: flex;
    padding-top: 51px;
    padding-bottom: 37px;
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/main-bg-desktop@2x.png");
  }
}

.main__img {
  display: none;

  img {
    width: 508px;
    height: 564px;
  }

  &--desktop {
    display: block;
  }
}

.main__text-wrapper {
  width: 395px;
  margin-right: 5.2%;
  padding-top: 116px;

  p {
    margin-top: 0;
    margin-bottom: 13px;

    font-family: $bebas;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: right;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;

    font-family: $bebas;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;

    -webkit-text-stroke: 3px white;
  }
}

.main__header-wrapper {
  position: relative;

  margin-bottom: 56px;
}

.main__gym-list,
.main__socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__gym-list {
  position: absolute;
  left: 19px;
  bottom: 28px;

  font-size: 14px;
  line-height: 150%;

  text-align: right;
}

.main__buy {
  width: 234px;
  margin-right: -1px;
  padding: 19.5px 0px;
  display: block;
  margin-left: auto;

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  border: 4px solid #FFFFFF;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.main__socials {
  margin-left: auto;
  padding-top: 434px;

  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-transform: uppercase;

  li {
    a {
      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.2;
      }
    }

    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media ($tablet) {
  .main {
    background-image: url("../img/main-bg-tablet.png");

    .container {
      justify-content: space-between;
      padding-top: 82px;
      padding-bottom: 76px;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-tablet@2x.png");
    }
  }

  .main__img {
    img {
      width: 324px;
      height: 390px;
    }

    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .main__text-wrapper {
    width: 324px;
    padding-top: 54px;
    margin-right: 4.4%;

    p {
      margin-bottom: 6px;

      font-size: 34px;
      line-height: 34px;
    }
  }

  .main__header-wrapper {
    margin-bottom: 40px;

    h1 {
      font-size: 86px;
      line-height: 86px;
    }
  }

  .main__socials {
    display: none;
  }

  .main__gym-list {
    left: 0px;
    bottom: 17px;
  }

  .main__buy {
    width: 187px;
    margin-right: -2px;
  }
}

@media ($mobile) {
  .main {
    background-image: url("../img/main-bg-mobile.png");

    .container {
      padding-top: 58px;
      padding-bottom: 78px;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-mobile@2x.png");
    }
  }

  .main__img {
    &--tablet {
      display: none;
    }
  }

  .main__text-wrapper {
    width: 100%;
    margin-right: 0;

    h1 {
      font-size: 78px;
      line-height: 78px;
    }

    p {
      margin-bottom: 12px;

      font-size: 28px;
      line-height: 28px;
    }
  }

  .main__gym-list {
    left: -1px;
    bottom: 12px;
  }

  .main__header-wrapper {
    width: 290px;
    margin-left: auto;
    margin-bottom: 42px;
  }

  .main__buy {
    padding: 20.5px 0;
    width: calc(100% + 4px);
    margin-right: 0;
    margin-left: -2px;
  }
}
