.main {
  background-image: url("../img/main-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #b60129;

  color: white;

  a {
    color: white;
  }

  .container {
    display: flex;
    padding-top: 51px;
    padding-bottom: 44px;
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/main-bg-desktop@2x.jpg");
  }
}

.main__img {
  display: none;

  img {
    width: 500px;
    height: 556px;
  }

  &--desktop {
    display: block;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.main__text-wrapper {
  width: 395px;
  margin-right: 5.5%;
  padding-top: 116px;

  p {
    margin-top: 0;
    margin-bottom: 13px;

    font-family: $bebas;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: right;
  }

  h1 {
    margin-top: 0;
    margin-bottom: -91px;

    font-family: $bebas;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;

    -webkit-text-stroke: 3px white;
  }
}

.main__header-wrapper {
  position: relative;

  margin-bottom: 84px;
}

.main__gym-list,
.main__socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__gym-list {
  width: 131px;

  font-size: 14px;
  line-height: 150%;

  text-align: right;
}

.main__buy {
  width: 234px;
  margin-right: -1px;
  padding: 19.5px 0;
  display: block;
  margin-left: auto;

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  border: 4px solid white;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.main__socials {
  margin-left: auto;
  padding-top: 434px;

  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-transform: uppercase;

  li {
    a {
      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.2;
      }
    }

    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media ($tablet) {
  .main {
    background-image: url("../img/main-bg-tablet.jpg");

    .container {
      justify-content: space-between;
      padding-top: 82px;
      padding-bottom: 76px;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-tablet@2x.jpg");
    }
  }

  .main__img {
    margin-left: 4.4%;

    img {
      width: 324px;
      height: 390px;
    }

    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .main__text-wrapper {
    width: 324px;
    padding-top: 54px;
    margin: 0 auto;

    p {
      margin-bottom: 6px;

      font-size: 34px;
      line-height: 34px;
    }
  }

  .main__header-wrapper {
    margin-bottom: 57px;

    h1 {
      font-size: 86px;
      line-height: 86px;
      margin-bottom: -80px;
    }
  }

  .main__socials {
    display: none;
  }

  .main__gym-list {
    width: 113px;
  }

  .main__buy {
    width: 187px;
    margin-right: -2px;
  }
}

@media ($mobile) {
  .main {
    background-image: url("../img/main-bg-mobile.jpg");

    .container {
      padding-top: 58px;
      padding-bottom: 78px;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-mobile@2x.jpg");
    }
  }

  .main__img {
    &--tablet {
      display: none;
    }
  }

  .main__text-wrapper {
    h1 {
      margin-bottom: -75px;

      font-size: 78px;
      line-height: 78px;
    }

    p {
      margin-bottom: 12px;

      font-size: 28px;
      line-height: 28px;
    }
  }

  .main__gym-list {
    width: 113px;
    margin-left: -1px;
  }

  .main__header-wrapper {
    width: 290px;
    margin-left: auto;
    margin-bottom: 54px;
  }

  .main__buy {
    padding: 20.5px 0;
    width: calc(100% + 4px);
    margin-right: 0;
    margin-left: -2px;
  }
}
