@font-face {
  font-family: "BebasNeue";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2");
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  src: url("../fonts/BebasNeueBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
}
