$desktop:"min-width: 1366px";
$mobile: "max-width: 767.8px";
$tablet: "max-width: 1199.8px";
$retina-dppx: 1.5dppx;

$red: #ed0233;
$blue: #495a7d;
$blue-price: #103aae;
$dark-blue: #102654;
$shadow: #e8e8e8;
$grey: #f8f9fc;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "RobotoCondensed", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  font-size: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 7.6%;
  margin: 0 auto;
}

@media ($desktop) {
  .container {
    width: 1366px;
    padding: 0 104px;
  }
}

@media ($tablet) {
  .container {
    padding: 0 5.9%;
  }
}

@media ($mobile) {
  .container {
    padding: 0 4.8%;
  }
}
