$tablet: 'min-width: 768px';
$desktop: 'min-width: 1200px';

$blue: #495A7D;
$shadow: #E8E8E8;
$dark-blue: #102654;
$grey: #F8F9FC;
$price-blue: #103AAE;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  font-size: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 4.8%;
  margin: 0 auto;
}

@media ($tablet) {
  .container {
    padding: 0 5.9%;
  }
}

@media ($desktop) {
  .container {
    padding: 0 7.6%;
  }
}