*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "RobotoCondensed", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  font-size: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 7.6%;
  margin: 0 auto;
}

@media ($desktop) {
  .container {
    width: 1366px;
    padding: 0 104px;
  }
}

@media ($tablet) {
  .container {
    padding: 0 5.9%;
  }
}

@media ($mobile) {
  .container {
    padding: 0 4.8%;
  }
}
