include modules/mixins
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Фитнес
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="preload" href="fonts/BebasNeueBold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="fonts/BebasNeueRegular.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="fonts/RobotoCondensed-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="fonts/RobotoCondensed-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="fonts/RobotoCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous")
  body
    div(style="display: none")
      include ../build/img/sprite.svg
    header.header
      .container
        a(href="")
          svg.header__logo(width="87" height="20")
            use(xlink:href="#logo")
        a.header__tel(href="tel:+88005555555") 8-800-555-55-55
    main
      section.main
        .container
          .main__text-wrapper
            p омск
            .main__header-wrapper
              h1 Фитнес центр
              ul.main__gym-list
                li Тренажёрный зал
                li Групповые занятия
                li Кардио-зона
            a.main__buy Купить абонемент
          .main__img.main__img--desktop
            <!-- 1х: 508px; 2x: 1016px -->
            +picture(desktop, "header-img-desktop", "508", "564", "Фитнес центр")
          .main__img.main__img--tablet
            <!-- 1х: 324px; 2x: 648px -->
            +picture(mobile, "header-img-tablet", "324", "390", "Фитнес центр")
          ul.main__socials
            li
              a(href="#") FB
            li
              a(href="#") VK
            li
              a(href="#") IG
      section.gym
        .container
          .gym__text-wrapper
            h2 Тренажерный зал
            b Просторный зал площадью 900 кв/м
            p Supergym – самый большой фитнес центр за Уралом и идеальное место для укрепления тела и здоровья. Тренажерный зал оснащен всем необходимым современным оборудованием для  всех спортсменов.
            p.gym__equipment В зале расположены отдельная зона для Crossfit и кардио-зона с 40 тренажерами. Также в фитнес центре есть несколько оборудованных залов для различных видов групповых   занятий.
          .gym__img-wrapper
            .gym__gym-wrapper
              .gym__img.gym__img--desktop
                <!-- 1х: 660px; 2x: 1320px -->
                +picture(desktop, "gum-desktop", "660", "401", "Тренажерный зал")
              .gym__img.gym__img--tablet
                <!-- 1х: 678px; 2x: 1356px -->
                +picture(tablet, "gum-tablet", "678", "345", "Тренажерный зал")
              .gym__img.gym__img--mobile
                <!-- 1х: 320px; 2x: 640px -->
                +picture(mobile, "gum-mobile", "320", "313", "Тренажерный зал")
            .gym__video
              .gym__video-img.gym__video-img--desktop
                <!-- 1х: 364px; 2x: 728px -->
                +picture(desktop, "gum-video-desktop", "364", "228", "Видео тренажерного зала")
              .gym__video-img.gym__video-img--tablet
                <!-- 1х: 266px; 2x: 532px -->
                +picture(tablet, "gum-video-tablet", "266", "167", "Видео тренажерного зала")
              .gym__video-img.gym__video-img--mobile
                <!-- 1х: 320px; 2x: 640px -->
                +picture(mobile, "gum-video-mobile", "320", "167", "Видео тренажерного зала")
              button(type="button").gym__play
                img(src="img/play.png" width="73" height="73" alt="Запустить видео")
      section.season
        .season__barbells.season__barbells--desktop
          +picture(desktop, "barbells-desktop", "287", "494", "Блины для штанги")
        .season__barbells.season__barbells--tablet
          +picture(desktop, "barbells-tablet", "347", "444", "Блины для штанги")
        .container
          h2 Абонементы
          .season__buttons-wrapper
            ul.season__buttons
              li.season__button
                input.visually-hidden(type="radio", name="Абонементы" id="one" checked)
                label(for="one") 1 месяц
              li.season__button
                input.visually-hidden(type="radio", name="Абонементы" id="six")
                label(for="six") 6 месяцев
              li.season__button
                input.visually-hidden(type="radio", name="Абонементы" id="twelve")
                label(for="twelve") 12 месяцев
          ul.season__tabs
            li.season__tab.season__tab--open
              ul.season__tab-list
                li.season__tab-item
                  h3.season__h3 С тренером
                  p.season__time 12 занятий
                  p.season__price-shadow 5000
                  p.season__price 5000
                  a.season__buy(href="#") купить абонемент
                li.season__tab-item
                  h3.season__h3 Дневной
                  p.season__time с 8:00 до 17:00
                  p.season__price-shadow 1700
                  p.season__price 1700
                  a.season__buy(href="#") купить абонемент
                li.season__tab-item
                  h3.season__h3 Полный день
                  p.season__time с 8:00 до 22:00
                  p.season__price-shadow 2700
                  p.season__price 2700
                  a.season__buy(href="#") купить абонемент
            li.season__tab
              ul.season__tab-list
                li.season__tab-item
                  h3.season__h3 С тренером
                  p.season__time 72 занятия
                  p.season__price-shadow 30000
                  p.season__price 30000
                  a.season__buy(href="#") купить абонемент
                li.season__tab-item
                  h3.season__h3 Дневной
                  p.season__time с 8:00 до 17:00
                  p.season__price-shadow 10200
                  p.season__price 10200
                  a.season__buy(href="#") купить абонемент
                li.season__tab-item
                  h3.season__h3 Полный день
                  p.season__time с 8:00 до 22:00
                  p.season__price-shadow 16200
                  p.season__price 16200
                  a.season__buy(href="#") купить абонемент
            li.season__tab
              ul.season__tab-list
                li.season__tab-item
                  h3.season__h3 С тренером
                  p.season__time 144 занятия
                  p.season__price-shadow 60000
                  p.season__price 60000
                  a.season__buy(href="#") купить абонемент
                li.season__tab-item
                  h3.season__h3 Дневной
                  p.season__time с 8:00 до 17:00
                  p.season__price-shadow 20400
                  p.season__price 20400
                  a.season__buy(href="#") купить абонемент
                li.season__tab-item
                  h3.season__h3 Полный день
                  p.season__time с 8:00 до 22:00
                  p.season__price-shadow 32400
                  p.season__price 32400
                  a.season__buy(href="#") купить абонемент
      section.promo
        .container
          .promo__wrapper
            .promo__text-wrapper
              h2.promo__header SUPER GAMES
              .promo__date
                h3.promo__h3 Дата
                .promo__time
                  p.promo__number 7
                  .promo__month
                    p.promo__text Марта
                    p.promo__text 2019
                h3.promo__h3 Время
                p.promo__number.promo__number--time 12:00
            p.promo__desc Ежегодные соревнования по CrossFit
            a.promo__button(href="#") заполнить заявку
          .promo__img.promo__img--desktop
            <!-- 1х: 660px; 2x: 1320px -->
            +picture(desktop, "promo-img-desktop", "660", "500", "Промо Super Games")
          .promo__img.promo__img--tablet
            <!-- 1х: 386px; 2x: 772px -->
            +picture(desktop, "promo-img-tablet", "386", "292", "Промо Super Games")
          .promo__img.promo__img--mobile
            <!-- 1х: 290px; 2x: 580px -->
            +picture(desktop, "promo-img-mobile", "290", "292", "Промо Super Games")
      section.coaches
        .container
          h2.coaches__header Тренеры
          button.coaches__button.coaches__button--left(type="button")
          button.coaches__button.coaches__button--right(type="button")
          ul.coaches__slider
            li.coaches__slider-item
              +card("Анна Павлова", "coach-1")
            li.coaches__slider-item
              +card("Алексей Лавров", "coach-2")
            li.coaches__slider-item
              +card("Александр Пашков", "coach-3")
            li.coaches__slider-item
              +card("Мария Кетова", "coach-4")
            li.coaches__slider-item
              +card("Анна Павлова", "coach-2")
            li.coaches__slider-item
              +card("Алексей Лавров", "coach-3")
            li.coaches__slider-item
              +card("Александр Пашков", "coach-4")
            li.coaches__slider-item
              +card("Мария Кетова", "coach-1")
      section.advantages
        .container
          h2 Наши преимущества
          ul.advantages__list
            li.advantages__item.advantages__item--center
              p.advantages__number 100
              h3 Тренажеров
              p Современные тренажеры на все группы мышц
            li.advantages__item
              .advantages__images
                <!-- 1х: 108px; 2x: 216px -->
                img(src="img/900.png" srcset="img/900@2x.png 2x" width="108" height="75" alt="Площадь 900 кв/м")
                <!-- 1х: 89px; 2x: 178px -->
                img(src="img/900-tablet.png" srcset="img/900-tablet@2x.png 2x" width="89" height="63" alt="Площадь 900 кв/м")
                <!-- 1х: 89px; 2x: 178px -->
                img(src="img/900-mobile.png" srcset="img/900-mobile@2x.png 2x" width="89" height="63" alt="Площадь 900 кв/м")
              .advantages__text.advantages__text--900
                h3 Площадь
                p Занимайтесь без очередей и толпучки
            li.advantages__item
              .advantages__images
                <!-- 1х: 72px; 2x: 144px -->
                img(src="img/70.png" srcset="img/70@2x.png 2x" width="72" height="75" alt="Собственная парковка на 70 машин")
                <!-- 1х: 59px; 2x: 118px -->
                img(src="img/70-tablet.png" srcset="img/70-tablet@2x.png 2x" width="59" height="63" alt="Собственная парковка на 70 машин")
                <!-- 1х: 59px; 2x: 118px -->
                img(src="img/70-mobile.png" srcset="img/70-mobile@2x.png 2x" width="59" height="63" alt="Собственная парковка на 70 машин")
              .advantages__text
                h3 Собственная парковка
                p Вы всегда найдете место для своей машины на нашей парковке
            li.advantages__item.advantages__item--350
              .advantages__images
                <!-- 1х: 108px; 2x: 216px -->
                img(src="img/350.png" srcset="img/350@2x.png 2x" width="108" height="75" alt="350 мест в зале")
                <!-- 1х: 89px; 2x: 178px -->
                img(src="img/350-tablet.png" srcset="img/350-tablet@2x.png 2x" width="89" height="63" alt="350 мест в зале")
                <!-- 1х: 89px; 2x: 178px -->
                img(src="img/350-mobile.png" srcset="img/350-mobile@2x.png 2x" width="89" height="63" alt="350 мест в зале")
              .advantages__text
                h3 Комфорт
                p Просторные раздевалки, душевые, фен, Wi-Fi, кулеры
            li.advantages__item
              .advantages__images
                <!-- 1х: 70px; 2x: 140px -->
                img(src="img/5.png" srcset="img/5@2x.png 2x" width="70" height="75" alt="Тренерский опыт больше 5 лет")
                <!-- 1х: 57px; 2x: 114px -->
                img(src="img/5-tablet.png" srcset="img/5-tablet@2x.png 2x" width="57" height="63" alt="Тренерский опыт больше 5 лет")
                <!-- 1х: 57px; 2x: 114px -->
                img(src="img/5-mobile.png" srcset="img/5-mobile@2x.png 2x" width="57" height="63" alt="Тренерский опыт больше 5 лет")
              .advantages__text
                h3 Тренерский опыт
                p Добивайтесь своих целей быстрее с профессиональным тренером
      section.actions
        .container
          h2 Акции
          .actions__container
            .actions__year-wrapper
              .actions__text-wrapper
                p.actions__year Год
                h3 4999
                p Безлимитный абонемент в тренажерный зал
                a(href="#") подробнее
              .actions__img.actions__img--desktop
                <!-- 1х: 280px; 2x: 560px -->
                +picture(desktop, "action-img-desktop", "280", "462", "Акция")
              .actions__img.actions__img--tablet
                <!-- 1х: 399px; 2x: 798px -->
                +picture(tablet, "action-img-tablet", "399", "462", "Акция")
              .actions__img.actions__img--mobile
                <!-- 1х: 290px; 2x: 580px -->
                +picture(mobile, "action-img-mobile", "290", "299", "Акция")
            .actions__list
              li.actions__item
                h3 Месяц бесплатно
                p.actions__referral Приведи друга, получи абонемент в подарок
                a(href="#") подробнее
              li.actions__item
                h3 Скидка 20%
                p Корпоративный фитнес &nbsp;с командой
                a(href="#") подробнее
      section.reviews
        .container
          h2 Отзывы
          .reviews__slider-wrapper
            button.reviews__button.reviews__button--left
            button.reviews__button.reviews__button--right
            ul.reviews__slider
              li.reviews__slide
                .reviews__img
                  <!-- 1х: 80px; 2x: 160px -->
                  img(src="img/avatar.png" srcset="img/avatar@2x.png 2x" width="80" height="80" alt="Анна Орлова")
                .reviews__text
                  h3 Анна Орлова
                  p «Хожу в SuperClub уже больше года. Нравится, что в клубе всегда чисто, тренажеры обновляют, персонал дружелюбный. Зал просторный, даже в вечернее время нет очередей»
              li.reviews__slide
                .reviews__img
                  <!-- 1х: 80px; 2x: 160px -->
                  img(src="img/avatar.png" srcset="img/avatar@2x.png 2x" width="80" height="80" alt="Дед Мороз")
                .reviews__text
                  h3 Дед Мороз
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptates voluptatibus. Eaque tempore voluptatibus possimus fugit impedit vel tempora excepturi labore recusandae et, inventore soluta sequi commodi libero consequuntur atque.
              li.reviews__slide
                .reviews__img
                  <!-- 1х: 80px; 2x: 160px -->
                  img(src="img/avatar.png" srcset="img/avatar@2x.png 2x" width="80" height="80" alt="Иван Иванов")
                .reviews__text
                  h3 Иван Иванов
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odio facilis itaque! Incidunt facilis provident reiciendis neque, veritatis atque commodi ducimus cum id, repellat ipsam dignissimos, expedita officiis ipsum debitis.
      section.contacts
        .container
          .contacts__signup
            .contacts__signup-wrapper
              p.contacts__text Бесплатное занятие
              form.contacts__form
                .contacts__form-wrapper
                  input(type="text" placeholder="Имя" id="name" required)
                  input(type="tel", placeholder="Телефон" id="tel" required)
                button.contacts__submit(type="submit") отправить
          .contacts__contact
            .contacts__wrapper
              h2 Контакты
              .contacts__list-wrapper
                ul.contacts__adrress-list
                  li.contacts__adrress-item
                    h3 Адрес:
                    p г. Омск, ул. 60 лет Октября, 7
                  li.contacts__adrress-item
                    h3 График работы:
                    p Пн-Вс: с 8:00 до 22:00
                ul.contacts__contact-list
                  li.contacts__contact-item
                    h3 Телефон:
                    a(href="tel:+88005555555") 8-800-555-55-55
                  li.contacts__contact-item
                    h3 Email:
                    a(href="mailto:omsk@supergym.ru") omsk@supergym.ru
    footer.footer
      .container
        a.footer__logo
          svg.header__logo(width="87" height="20")
            use(xlink:href="#logo")
        ul.footer__nav-list
          li.footer__nav-item
            a(href="#") Услуги
          li.footer__nav-item
            a(href="#") Абонементы
          li.footer__nav-item
            a(href="#") Акции
          li.footer__nav-item
            a(href="#") Тренеры
          li.footer__nav-item
            a(href="#") Расписание
        ul.footer__socials-list
          li.footer__socials-item.footer__socials-item--vk
            a(href="#")
              svg(width="24" height="13")
                use(xlink:href="#vk")
          li.footer__socials-item.footer__socials-item--insta
            a(href="#")
              svg(width="24" height="24")
                use(xlink:href="#insta")
          li.footer__socials-item.footer__socials-item--fb
            a(href="#")
              svg(width="12" height="24")
                use(xlink:href="#fb")
    script(src="js/vendor.js")
    script(src="js/main.js")


